<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- Header template w/ scripts -->
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
     <script type='text/javascript'
    src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Amo4qgB3YIXOOlfVLG8mRovNkoHMLx3B0RCUjgfkagOLEjQ1IkzoXUTFPrTh_K1G'
    async defer></script>
    <%#BootStrap CSS %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="styles.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
</head>
