<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Landing Page</title>
     <script type='text/javascript'
    src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Amo4qgB3YIXOOlfVLG8mRovNkoHMLx3B0RCUjgfkagOLEjQ1IkzoXUTFPrTh_K1G'
    async defer></script>
    <%#BootStrap CSS %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body class="text-center">
