 <nav class="navbar navbar-light bg-light">
   <a class="navbar-brand" href="#">Comp 484 Weather App</a>
   <ul class="nav">

     <li class="nav-item">
       <a class="nav-link" href="/zipcode">Search Zipcode</a>
     </li>


   </ul>
 </nav>
