<!-- this is a reusable component that belongs to the hourly components -->

<li class="list-group-item text-left">
    <div class="row">
        <div class="col">
            <!-- builds a time doc -->
            <%= new Date((hour.dt+offset)*1000).getUTCHours()+ ":00" %>
        </div>
        <div class="col">
            <!-- gets the temperature in faranheight -->
            <strong> <%= hour.temp.toFixed(0) +"° F"%> </strong>
        </div>
        <div class="col">
            <!-- loads a picture about the weather that hour -->
            <img class="weather-icon-hourly ml-auto"
                src="http://openweathermap.org/img/wn/<%= hour.weather[0].icon %>@2x.png" alt="">
        </div>
</li>