<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>



  <div class="jumbotron">
    <h1 class="display-4">Welcome to our Weather App</h1>
    <p class="lead">Please navigate to the function you desire.</p>
    <hr class="my-4">

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/zipcode" role="button">Search by Zipcode</a>
    </p>
  </div>

<%- include('partials/footer'); -%>
