<%- include('partials/header'); -%>
    <form action="/zipcode" method="post">
      <label for="zipcode">Enter in your Zipcode</label>
      <input type="number" name="zipcode" min="00501" max="99950"  minlength="5" maxlength="5" required>
      <button class="btn btn-primary" type="submit" name="button">submit</button>
    </form>
<%- include('partials/footer'); -%>
