	<form class="form-inline" action="/zipcode" method="post">
	    <input class="form-control mr-sm-2" type="text" placeholder="Search Zipcode" name="zipcode" min="00501" max="99950"
	        minlength="5" maxlength="5" required>
	    <label for="zipcode"></label>
	    <button class="btn btn-primary my-2 my-sm-0" type="submit" name="button">Search</button>
	</form>

	 <!--based on what is being requested, this is the zipcode form -->